#canvas {
	border: 1px solid #d3d3d3;
}

/* modes */
p {
	display: inline;

	font-size: 14px;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
	border: 0;
	border-radius: 5px;

	padding: 0.25em 0.5rem;

	margin: auto 0.2em;
	margin-bottom: 8px;
}

button:hover {
	cursor: pointer;
}

/* stats */
.stats p {
	padding: 6px;

	background: rgba(69, 124, 196, 0.062);
}

#score {
	color: green;
}

#score-done {
	color: purple;
	font-size: 0.8em;
}

/* js buttons */
.bt-on {
	background-color: rgba(255, 0, 0, 0.15);
}

.bt-off {
	background-color: rgb(242, 242, 242);
}
