#canvas {
	border: 1px solid #d3d3d3;
}

/* modes */
.modes p {
	display: inline;

	font-size: 14px;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modes button {
	border: 0;
	border-radius: 5px;

	padding: .25em .5rem;

	margin: auto 0.2em;
	margin-bottom: 8px;
}

/* js buttons */
.bt-on {
	background-color: rgb(242, 242, 242);
}

.bt-off {
	background-color: rgba(255, 0, 0, 0.15);

}